column{
  
    
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

    
    
    
    

 } 
 .menuitems{

display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
 }
 .a{